@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');

html,
body,
#root,
.app,
input,
textarea,
button {
  font-family: 'Wix Madefor Display', sans-serif;
}

html,
body,
#root,
.app {
  height: auto;
  width: auto;
  background: #fdeaea;
  color: rgb(55, 62, 98);
  padding: 1rem;
}
